
{% extends 'base/layout.html' %}


{% block title %}Cautelar{% endblock %}

{% block content %}

<label class="col-md-6">
  Militar: <select class="selectpicker" name="militar_nome" data-live-search="true" required style="
  width: 48%;
  height: 2em;
  padding: 2px;
  margin-top: -1%;
  float: right;
  ">
    {% for militar in militares %}
      <option value="{{ militar.id }}"> {{ militar.nome_de_guerra }}</option>
    {% endfor %}
  </select>
</label>

<div class="clearfix"></div>

<label class="col-md-6">
  Data de Retirada: <input type="text" name="data_retirada" class="datepicker"
  required value="{{item.data_entrada | date:"d/m/Y" }}" style="float: right; margin-top: -1%;">
</label>

<label class="col-md-6">
  Quantidade: <input type="number" name="quantidade" step="1"
  required value="{{item.quantidade }}" style="float: right; margin-top: -1%">
</label>

{% endblock %}


