{% extends 'base/layout.html' %}

{% block content %}
  <div class="container">
    <h3>Menu de Ações</h3>
    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills ">
            <li role="presentation"><a href="/admin/registro">Cadastrar Equipamentos</a></li>
            <li role="presentation"><a href="{% url 'listar' %}">Listar Equipamentos</a></li>
            <li role="presentation"><a href="{% url 'cautelas' %}">Cautelas</a></li>
          </ul>
        </nav>
    </div>
    <div class="clearfix"></div>
  </div>
{% endblock %}

